@import "components/variable";
@import "components/reset";
@import "components/layout";
@import "components/homepage";
@import "components/article";
@import "components/admin";
@import "components/animation";

html, body {
    height: 100%;
}

pre {
    width: 100vw;
    overflow: auto;
    line-height: 1.2rem;
}

.error404 {
    height: 60vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assoc {
    margin-top: 50px;
    &__container {
        width: 80%;
        margin: auto;
    }

    p, h3 {
        margin: auto;
        text-align: center;
        width: 80%;
    }

    h3 {
        margin-top: 50px;
    }
    p {
        margin-bottom: 30px;
    }
    #googleMap {
        max-height: 50vh;
        height: 500px;
        width: 100%;
    }
    &__socials {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    &__socials a {
        font-size: 2rem;
        color: inherit;
        margin: 10px;
    }
}

.login-signin {
    margin: 80px 0;
    &__container {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        width: 50%;
    }
    &__container form {
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        button {
            margin-top: 10px;
        }
    }
    &__left {
        border-right: 1px solid black;
    }
}
