.article {
    &__container {
        width: 85%;
        max-width: 1200px;
        margin: 3rem auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__left {
        width: 70%;
        margin-right: 20px;
    }

    &__left ul {
        display: flex;
        width: 50%;
        justify-content: space-around;
    }

    &__img {
        position: relative;
        width: 100%;
        height: 50vh;
    }

    &__img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    &__text {
        width: 30%;
    }

    &__text h3 {
        color: rgb(116, 107, 107);
        font-size: 1.3rem;
    }

    &__text h6 {
        font-style: italic;
        font-weight: lighter;
        font-size: 0.9rem;
        margin-bottom: 1.5rem;
    }

    &__text h1 {
        margin-bottom: 0.7rem;
    }

}

.all-articles {
    width: 80%;
    margin: auto;

    .dash-article-card {
        height: inherit !important;
        &__img::before {
            position: relative;
        }
    }

    .dash-article-card__card {
        min-width: 26%;

    }

}