#app.homepage {
    margin-top: 0;
}

.carrousel {
    overflow: hidden;

    &__container {
        display: flex;
        width: 300vw;
        animation: ease alternate infinite carrouselSlide 10s;
    }

    &__item {
        position: relative;
        width: 100vw;
        height: 1000px;
        max-height: 75vh;
    }

    &__item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__item p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        text-transform: uppercase;
        color: $bgClr;
        text-align: center;
        line-height: 4rem;
        font-weight: bold;
    }
}

.lastArticles {
    &__container {
        margin: auto;
        width: 70%;
    }

    &__container>h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        margin: 3rem 0;
    }

    &__article {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__article+&__article {
        margin-top: 100px;
    }

    &__article:nth-of-type(even) {
        flex-direction: row-reverse;
        text-align: end;
    }

    &__img {
        width: 40%;
        max-width: 500px;
        height: 300px;
        position: relative;
    }

    &__img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 10%;
    }

    &__img::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 20px;
        left: 20px;
        background: $yellow;
        opacity: 30%;
    }


    &__text {
        width: 30%;
    }

    &__text h3 {
        opacity: 0.85;
        margin-bottom: 1rem;
    }

    &__text h1 {
        margin-bottom: 0.5rem;
    }

    &__text p {
        margin-bottom: 1rem;
    }

    &__text a {
        color: $bgClr;
        transition: all ease .3s;
    }
}