/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.2;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class],
li {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

::-webkit-scrollbar {
    display: none;
    scrollbar-width: 0;
}

html,
body {
    scrollbar-width: none;
}


body {
    font-size: 18px;
    background: $bgClr;
    color: $textClr;
    font-family: $fontSans;
}

h1 {
    font-family: $fontBold;
    font-size: 3.2rem;
    line-height: 2.5rem;
}

a {
    text-decoration: none;
}

p {
    font-family: $fontSans;
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 300;
}

h2 {
    font-size: 3rem;
    font-style: italic;
}

h3 {
    font-family: $fontSans;
    font-size: 1.7rem;
    font-weight: 700;
}

i {
    display: inline !important;
    font-size: 2rem;
}

.btn {
    background: $orange;
    border-color: $orange;
    border: 2px solid $orange;
    color: $white;
    padding: 0.5rem 0.85rem;
    text-transform: uppercase;
    transition: all .3s ease;
    
    & * {
        transition: all .3s ease;
        color: $white;
    }

    &:hover {
        background: lighten($orange, 10%);
        border-color: lighten($orange, 10%);
        color: $textClr;
        cursor: pointer;
        & * {
            color: $textClr;
            
        }
    }
}

.btn:hover,
button:hover,
input[type=submit]:hover {
    cursor: pointer;
    transition: all .3s ease;
    & * {
        color: $textClr;

    }
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

input[type=text], input[type=password], input[type=text], input[type=email] {
    padding: 5px;
    border: none;
    border-bottom: 2px solid $orange;
}